// Brand css starts here
.brand-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
}

.brand-image {
    width: 150px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.brand-image:hover {
    transform: scale(1.1);
}

//Media query for tablet starts here
@media (max-width: 1080px) {
    .brand-container {
        gap: 20;
        padding: 50px 20px 50px 20px;
    }

    .brand-image {
        width: 100px;
    }
}
//ends here


// media query for mobile starts here
@media (max-width: 600px) {
    .brand-container {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap!important;
        gap: 10px;
        padding: 25px 20px 25px 20px!important;
    }

}
// end