
.faq{
    background: url(../assets//faq_bg.png);
    background-size: 100% 100%;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    .faq_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 20px 100px;
        .faq_list{
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .Accordion{
                background-color: rgb(12, 12, 12);
                text-align: left!important;
                padding: 30px 20px;
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.377);
                .title_div{
                    width: 100%!important;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
                .accor_title{
                    font-weight: 500;
                    color: white;
                    margin: 0%;
                    line-height: 30px;
                }
                .accordion_content{
                    width: 100%!important;
                    p{
                        margin: 0px;
                        padding-top:20px;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    
}


//Media query for tablet starts here
@media (max-width: 1080px) {
    .faq_container{
        padding: 50px 0px 100px 0px!important;
        .Accordion{
            padding: 20px!important;
        }
    }
    .faq_list{
        width: 95%!important;
    }
}
//ends here


// media query for mobile starts here
@media (max-width: 600px) {
    .faq_container{
        padding: 25px 10px 50px 10px!important;
        .faq_list{
            gap: 10px!important;
        }
        .Accordion{
            padding: 10px!important;
            .accor_title{
                line-height: 24px!important;
            }
            .accordion_content p {
                font-size: 16px!important;
            }
        }
    }
}
// end