.focus-container{
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.focus-container h1{
    margin: 0px;
}
.toggle{
    width: 350px;
    display: flex;
    gap:10px;
    padding: 10px;
    border-radius: 100px;
    background-color: rgb(34, 34, 34);
}
.toggle div{
    width: 50%;
    padding: 10px;
    border-radius: 100px;
}
.toggle div:hover,.toggle div.active{
   background-color: black;

}
.content img{
    width: 100%;
}

@media (max-width: 1080px) {
    .focus-container{
        padding: 0px 20px!important;
    }
}


// media query for mobile starts here
@media (max-width: 450px) {
    .toggle{
        width: 300px;
        display: flex;
        gap:10px;
        padding: 10px;
        border-radius: 100px;
        background-color: rgb(34, 34, 34);
    }
}