.testi-container {
    padding: 50px 20px 50px 20px;
    display: flex;
    justify-content: space-between;

    div {
        width: 30%;
        padding: 0px 20px;
        border-left: 1px solid gray;

        p {
            margin: 0px;
            font-size: 16px;
        }

        h4 {
            margin-bottom: 0px;
        }
    }
}

//Media query for tablet starts here
@media (max-width: 1080px) {
    .testi-container {
        padding: 50px 20px 50px 20px!important;
        div {
            width: 45%;
        }

        div:nth-child(3) {
            display: none;
        }
    }
}

    //ends here


    // media query for mobile starts here
    @media (max-width: 600px) {
        .testi-container {
            flex-wrap: wrap;
            gap: 30px;
            padding: 25px 20px 25px!important;

            div {
                width: 90%;
            }
        }
    }